<article class="quiz-bulletin-container">
  <section class="quiz-bulletin-head-container">
    <figure>
      <img class="quiz-bulletin-avatar quiz-bulletin-avatar-small" src="https://lorempixel.com/400/200/animals/" alt="">
    </figure>
    <span class="quiz-bulletin-title quiz-bulletin-title-blue">User Name</span>
  </section>
  <p class="quiz-bulletin-paragraph quiz-bulletin-paragraph-bordered">
    {{bulletin?.body}}
  </p>

  <quiz-bulletin-images [attachments]="bulletin?.attachments"></quiz-bulletin-images>

  <!--Form comment-->
  <form class="quiz-bulletin-comment-form-container"
        [formGroup]="formComment"
        (ngSubmit)="submitComment()">
    <figure>
      <img class="quiz-bulletin-avatar quiz-bulletin-avatar-small" src="https://lorempixel.com/400/200/people/" alt="">
    </figure>
    <label>
      <input formControlName="content" class="quiz-bulletin-comment-input quiz-bulletin-comment-input-gray" type="text" placeholder="Write a comment">
    </label>
  </form>

  <!--List of comments-->
  <ul class="quiz-bulletin-list-comments-container">
    <li *ngFor="let comment of comments; let i = index">
      <article class="quiz-bulletin-comment-container">
        <figure class="quiz-bulletin-comment-avatar">
          <img src="https://lorempixel.com/400/200/animals/" alt="">
        </figure>
        <h5 class="quiz-bulletin-comment">
          <b>Freddy Perez </b>
          <span>
          {{comment.content}}
        </span>
        </h5>
      </article>
      <ng-container *ngIf="comment.replies">
        <ul *ngIf="comment.replies.length > 0">
          <li class="quiz-bulletin-replies-container" *ngFor="let reply of comment.replies">
            <article class="quiz-bulletin-comment-container">
              <figure class="quiz-bulletin-comment-avatar">
                <img src="https://lorempixel.com/400/200/animals/" alt="">
              </figure>
              <h5 class="quiz-bulletin-comment">
                <b>Freddy Perez </b>
                <span>
                  {{reply.content}}
                </span>
              </h5>
            </article>
          </li>
        </ul>
      </ng-container>

      <button class="quiz-bulletin-button-reply quiz-bulletin-button-reply-blue"
              (click)="currentPositionComment = i; currentCommentId = comment.id; openDialog()">
        <svg>
          <use href="assets/static/svg/icons.svg#arrow-reply"/>
        </svg>
        &nbsp;Reply
      </button>
    </li>
  </ul>
</article>
