@import "../themes/variables";

.quiz-navbar-container {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem;
}
.quiz-navbar-container-white {
  background-color: $contrast-color;
}

.quiz-navbar-logo-container {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.quiz-navbar-logo-letter {
  background-color: $secondary-color;
  border-radius: $rad-small;
  color: $primary-color;
  height: $size-item;
  text-align: center;
  width: $size-item;
  margin-right: 0.5rem;
}
.quiz-navbar-logo-text {
  font-size: 1rem;
  font-weight: 700;
  color: $tertiary-color;
}

.quiz-nav-icon-container {
  position: relative;
}
.quiz-nav-icon-content {
  fill: $tertiary-color;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.7rem;
}

.quiz-nav-input {
  border-radius: $rad-small;
  height: $size-item;
  padding: 0 1rem 0 2rem;
  margin-right: 1rem;
}
.quiz-nav-input-gray {
  background-color: $secondary-color;
}
