@import "../themes/variables";

.quiz-bulletins-page-container {
  display: flex;
  justify-content: space-between;
  max-width: 745px;
  margin: 1.5rem auto 0 auto;
  width: 80%;
}
.quiz-bulletin-sidebar-container {
  margin-right: 1rem;
  width: 220px;
}
.quiz-bulletin-sidebar-info-user-container {
  @extend .quiz-card;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}



.quiz-bulletin-title-container {
  display: flex;
  flex-direction: column;
}

/*List of bulletins*/
.quiz-bulletins-container {
  width: calc(100% - (220px + 1rem));
  max-width: 550px;
}
.quiz-bulletins-header-container {
  @extend .quiz-card;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.quiz-bulletins-header-input {
  border-radius: $rad-small;
  height: $size-item;
  padding: 0 1rem;
}

/*Bulletin*/
.quiz-bulletin-container {
  @extend .quiz-card;
  @extend .quiz-card-white;
  margin-bottom: 1rem;
}
.quiz-bulletin-head-container {
  display: flex;
  margin-bottom: 1rem;
}
.quiz-bulletin-comment {
  margin-top: 0.2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  span {
    font-weight: 400;
  }
}
.quiz-bulletin-avatar {
  border-radius: 10px;
  display: block;
}
.quiz-bulletin-comment-avatar {
  flex-shrink: 0;
  height: 25px;
  width: 25px;
  img {
    border-radius: 50%;
  }
}
.quiz-bulletin-comment-container {
  display: flex;
  align-items: flex-start;
}
.quiz-bulletin-avatar-small {
  height: 40px;
  width: 40px;
}
.quiz-bulletin-avatar-medium {
  height: 60px;
  width: 60px;
}
.quiz-bulletin-title {
  @extend .quiz-title;
}
.quiz-bulletin-title-blue {
  color: $tertiary-color;
}
.quiz-bulletin-paragraph {
  @extend .quiz-paragraph;
  margin-bottom: 1rem;
}
.quiz-bulletin-paragraph-bordered {
  border-top: 1px solid #eff2f3;
  border-bottom: 1px solid #eff2f3;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.quiz-bulletin-paragraph-blue {
  color: $tertiary-color;
}
/*Bulletin images*/
.quiz-bulletin-img-container {
  display: flex;
  justify-content: space-between;
  height: 350px;
}
.quiz-bulletin-img-principal-simple {
  width: 100%;
  img {
    width: 100%;
  }
}
.quiz-bulletin-img-principal-container {
  width: 48%;
}
.quiz-bulletin-img-secondary-container {
  height: 47%;
}
.quiz-bulletin-img-border {
  border-bottom: 1px solid #eff2f3;
  padding-bottom: 1rem;
}
.quiz-bulletin-img-portrait-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}
.quiz-bulletin-image {
  border-top-left-radius: $rad-large;
  border-top-right-radius: $rad-large;
  object-fit: cover;
}
.quiz-bulletin-image-large {
  height: 100%;
  width: 100%;
}
.quiz-bulletin-image-rounded {
  border-radius: $rad-small;
}


/*
Input bulletin comment*/
.quiz-bulletin-comment-form-container {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;

  label {
    width: calc(100% - (40px + 1rem));
  }
  input {
    box-sizing: border-box;
    width: 100%;
  }
}
.quiz-bulletin-comment-input {
  border-radius: $rad-small;
  height: $size-item;
  padding: 0 1rem 0 2rem;
  margin-right: 1rem;

  &-gray {
    background-color: $secondary-color;
  }
}
.quiz-bulletin-list-comments-container {
  border-top: 1px solid #eff2f3;
  padding-top: 1rem;
}
.quiz-bulletin-replies-container {
  background: #e7eefa;
  border-radius: 5px;
  max-width: 70%;
  margin-left: auto;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 0.5em;
  margin-bottom: 0.3rem;
}
.quiz-bulletin-button-reply {
  align-items: center;
  border-radius: 5px;
  display: flex;
  padding: 0.2rem 0.5rem;
  margin-bottom: 1rem;
  &-blue {
    background-color: $primary-color;
    color: $contrast-color;
  }

  svg {
    fill: $contrast-color;
    height: 20px;
    width: 20px;
  }
}
