html,
body {
  height: 100%;
}
body {
  background-color: #f8fafb;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}
body,
figure,
h1,
h2,
h5,
p,
ul {
  margin: 0;
}
button {
  cursor: pointer;
  border: none;
}
img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
input {
  border: none;
}
ul {
  padding-left: 0;
  list-style: none;
}
.quiz-card {
  background-color: #ffffff;
}

.mat-dialog-title,
.mat-h2, .mat-title, .mat-typography h2{
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
}
