<form
  class="quiz-form-login-container"
  [formGroup]="formLogin"
  (ngSubmit)="submitLogin()"
>
  <mat-form-field appearance="fill">
    <mat-label>CI</mat-label>
    <input
      matInput
      placeholder="122233545"
      formControlName="accountId"
      required
    />
    <mat-error *ngIf="formLogin.controls['accountId'].invalid"
    >Account id is requiredz</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="*****"
      formControlName="password"
      required
    />
    <mat-error *ngIf="formLogin.controls['password'].invalid"
    >Password is required</mat-error
    >
  </mat-form-field>

  <div>
    <button class="quiz-bulletin-button quiz-bulletin-button-blue" type="submit">
      Login
    </button>
  </div>
</form>
