<nav class="quiz-navbar-container quiz-navbar-container-white">
  <h1 class="quiz-navbar-logo-container">
    <span class="quiz-navbar-logo-letter">
      S
    </span>
    <span class="quiz-navbar-logo-text">SpaceBulletins</span>
  </h1>
  <form>
    <label class="quiz-nav-icon-container">
      <svg class="quiz-nav-icon-content">
        <use href="assets/static/svg/icons.svg#magnifying"/>
      </svg>
      <input class="quiz-nav-input quiz-nav-input-gray" type="text" placeholder="Search">
    </label>
    <button type="submit" class="quiz-bulletin-button quiz-bulletin-button-blue">
      Search
    </button>
  </form>
</nav>
