.quiz-input-upload {
  display: none;
}
.quiz-input-upload-button {
  align-items: center;
  background-color: #f5f5f5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
}
.quiz-input-upload-list-container {
  margin-top: 1rem;
}
.quiz-input-upload-list {
  li {

  }
}
