@import "../themes/variables";

.quiz-card {
  box-shadow: rgba(17, 17, 26, 0.05) 0 1px 0, rgba(17, 17, 26, 0.1) 0 0 8px;
  border-radius: $rad-small;
  padding: 1rem;
}
.quiz-card-white {
  background-color: $contrast-color;
}
