@import "../themes/variables";

.quiz-title {
  font-size: 1.1rem;
  font-weight: 700;
}
.quiz-paragraph {
  font-weight: 400;
  font-size: 0.9rem;
}
.quiz-title,
.quiz-paragraph {
  &.space-bottom {
    margin-bottom: 1rem;
  }
  &.tertiary {
    color: $tertiary-color;
  }
}
