@import "../themes/variables";

.quiz-bulletin-button {
  border-radius: $rad-small;
  height: $size-item;
  padding: 0 1rem;
}
.quiz-bulletin-button-blue {
  background-color: $primary-color;
  color: $contrast-color;
}
