<div *ngIf="percentage | async as pct">

  <p>{{file?.name}}</p>
  <progress class="progress is-info"
            [value]="pct"
            max="100">
  </progress>

  {{ pct | number }}%

</div>

<div *ngIf="(snapshot | async) as snap">
  <!--{{ snap.bytesTransferred }} of {{ snap.totalBytes }}-->
  <div *ngIf="downloadURL as url">
    <h3>Results!</h3>
    <img [src]="url"><br>
    <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
  </div>
</div>
