@import "../bulletins-styles/themes/variables";
.quiz-login-container {
  max-width: 420px;
  margin: 0 auto;
  padding-top: 3rem;
}
.quiz-card-content {
  background-color: $contrast-color;
  box-shadow: rgba(17, 17, 26, 0.05) 0 1px 0, rgba(17, 17, 26, 0.1) 0 0 8px;
  border-radius: $rad-small;
  padding: 1rem;
}

.quiz-form-login-container,
.quiz-form-register-container {
  margin-bottom: 1rem;

  mat-form-field {
    width: 100%;
  }
}
