<aside class="quiz-sidebar-container">
  <ul>
    <li class="quiz-sidebar-item">
      <svg class="quiz-sidebar-icon-container">
        <use href="assets/static/svg/icons.svg#home"/>
      </svg>
      <span>Home</span>
    </li>
    <li class="quiz-sidebar-item">
      <svg class="quiz-sidebar-icon-container">
        <use href="assets/static/svg/icons.svg#photos"/>
      </svg>
      <span>Photos</span>
    </li>
    <li class="quiz-sidebar-item">
      <svg class="quiz-sidebar-icon-container">
        <use href="assets/static/svg/icons.svg#news"/>
      </svg>
      <span>News feed</span>
    </li>
  </ul>
</aside>
