<main class="quiz-login-container">
  <section class="quiz-card-content">
    <h1>Welcome to QUIZ</h1>
    <mat-tab-group>
      <mat-tab label="Login">
        <quiz-login-form></quiz-login-form>
      </mat-tab>
      <mat-tab label="Register">
        <quiz-register-form></quiz-register-form>
      </mat-tab>
    </mat-tab-group>
  </section>
</main>
