<h2 mat-dialog-title>Creating bulletin</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formBulletin">
    <mat-form-field appearance="fill">
      <mat-label>Content of bulletin</mat-label>
      <input
        matInput
        placeholder="Content of new"
        formControlName="content"
        required
      />
      <mat-error *ngIf="formBulletin.controls['content'].invalid"
      >Content is requiredz</mat-error
      >
    </mat-form-field>

    <div>
      <label>
        <input class="quiz-input-upload"
               formControlName="file"
               id="file"
               type="file"
               multiple
               (change)="onFileChange($event)">
        <span role="button" class="quiz-input-upload-button">Upload Files</span>
      </label>
      <div *ngIf="filesBulletins.length > 0 && filesToUpload.length === 0" class="quiz-input-upload-list-container">
        <h2 class="quiz-bulletin-title quiz-bulletin-title-blue">Attachment(s)</h2>
        <ul class="quiz-input-upload-list">
          <li *ngFor="let file of filesBulletins">
            {{file}}
          </li>
        </ul>
      </div>
    </div>

    <div *ngFor="let file of filesToUpload">
      <quiz-bulletin-upload-task [file]="file"></quiz-bulletin-upload-task>
    </div>


  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="quiz-bulletin-button quiz-bulletin-button-blue" type="button" [mat-dialog-close]="true">Cancel</button>
  <button class="quiz-bulletin-button quiz-bulletin-button-blue" type="submit" (click)="initChargeOfData()">Save</button>
</mat-dialog-actions>
