<ng-container *ngIf="attachments">
  <article [class]="attachments.length > 0 ? 'quiz-bulletin-img-border' : ''">
    <!--Only one Image-->
    <ng-container *ngIf="attachments.length === 1">
      <figure class="quiz-bulletin-img-container quiz-bulletin-img-principal-simple">
        <img class="quiz-bulletin-image quiz-bulletin-image-large" [src]="attachments[0].field" alt="">
      </figure>
    </ng-container>

    <!--Only two Image-->
    <ng-container *ngIf="attachments.length === 2">
      <section class="quiz-bulletin-img-container">
        <figure class="quiz-bulletin-img-principal-container">
          <img class="quiz-bulletin-image quiz-bulletin-image-large" [src]="attachments[0].field" alt="">
        </figure>
        <figure class="quiz-bulletin-img-principal-container">
          <img class="quiz-bulletin-image quiz-bulletin-image-large" [src]="attachments[1].field" alt="">
        </figure>
      </section>
    </ng-container>

    <!--More or equal than three -->
    <ng-container *ngIf="attachments.length >= 3">
      <section class="quiz-bulletin-img-container">
        <figure class="quiz-bulletin-img-principal-container">
          <img class="quiz-bulletin-image quiz-bulletin-image-large" [src]="attachments[0].field" alt="">
        </figure>
        <div class="quiz-bulletin-img-portrait-container">
          <figure class="quiz-bulletin-img-secondary-container">
            <img class="quiz-bulletin-image quiz-bulletin-image-large quiz-bulletin-image-rounded" [src]="attachments[1].field" alt="">
          </figure>
          <figure class="quiz-bulletin-img-secondary-container">
            <img class="quiz-bulletin-image quiz-bulletin-image-large" [src]="attachments[2].field" alt="">
          </figure>
        </div>
      </section>
    </ng-container>
  </article>
</ng-container>
