<h2 mat-dialog-title>Reply Comment</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formReply">
    <mat-form-field appearance="fill">
      <mat-label>Comment</mat-label>
      <input
        matInput
        placeholder="How are you?"
        formControlName="content"
        required
      />
      <mat-error *ngIf="formReply.controls['content'].invalid"
      >Comment is required</mat-error
      >
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="quiz-bulletin-button quiz-bulletin-button-blue" type="button"  mat-dialog-close>Cancel</button>
  <button class="quiz-bulletin-button quiz-bulletin-button-blue" type="submit" (click)="saveReply()">Save</button>
  <button #passData [matDialogClose]="savedReplyComment"></button>
</mat-dialog-actions>
