<quiz-navbar></quiz-navbar>

<div class="quiz-bulletins-page-container">
  <!--SIDEBAR-->
  <aside class="quiz-bulletin-sidebar-container">
    <section class="quiz-bulletin-sidebar-info-user-container">
      <figure>
        <img class="quiz-bulletin-avatar quiz-bulletin-avatar-medium" src="assets/static/images/profile.jpg" alt="">
      </figure>
      <h1 class="quiz-bulletin-title-container">
        <span class="quiz-bulletin-title quiz-bulletin-title-blue">
          {{userData?.firstName}} {{userData?.lastName}}
        </span>
        <span class="quiz-bulletin-paragraph quiz-bulletin-paragraph-blue">@{{userData?.lastName}}</span>
      </h1>
    </section>
    <quiz-sidebar></quiz-sidebar>
  </aside>

  <!--CONTAINER BULLETINS-->
  <main class="quiz-bulletins-container">
    <section class="quiz-bulletins-header-container ">
      <figure>
        <img class="quiz-bulletin-avatar quiz-bulletin-avatar-small" src="assets/static/images/profile.jpg" alt="">
      </figure>
      <label>
        <input class="quiz-bulletins-header-input" type="text" placeholder="What's new?">
      </label>
      <button class="quiz-bulletin-button quiz-bulletin-button-blue" (click)="openDialog()">Post It!</button>
    </section>

    <quiz-bulletins-list [bulletins]="bulletins"></quiz-bulletins-list>
  </main>
</div>
