<form
  class="quiz-form-register-container"
  [formGroup]="formRegister"
  (ngSubmit)="submitRegister()"
>
  <mat-form-field appearance="fill">
    <mat-label>CI</mat-label>
    <input
      matInput
      placeholder="122233545"
      formControlName="accountId"
      required
    />
    <mat-error *ngIf="formRegister.controls['accountId'].invalid"
    >Account id is requiredz</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input
      matInput
      placeholder="Jhon"
      formControlName="firstName"
      required
    />
    <mat-error *ngIf="formRegister.controls['firstName'].invalid"
    >Account id is requiredz</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input
      matInput
      placeholder="Doe"
      formControlName="lastName"
      required
    />
    <mat-error *ngIf="formRegister.controls['lastName'].invalid"
    >Account id is requiredz</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="*****"
      type="password"
      formControlName="password"
      required
    />
    <mat-error *ngIf="formRegister.controls['password'].invalid"
    >Password is required</mat-error
    >
  </mat-form-field>

  <div>
    <button class="quiz-bulletin-button quiz-bulletin-button-blue" type="submit">
      Register
    </button>
  </div>
</form>
